<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

<header>
 


<nav class="navbar">

    <!-- Navigation links -->
    <ul class="nav-links">
      <li><a  class="header-title" href="/"><h1>Book Notes App</h1></a></li>
    </ul>

    <!-- Search -->
    <div class="nav-search">
      <label for="search-input">Search</label>
      <input type="text" id="search-input" placeholder="Search books">
      <div id="search-results"></div>
    </div>

  </nav>
  </header>